.mainBox {
    width: 700px;
    height: 700px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.display {
    width: 660px;
    height: 100px;
    border: 2px solid white;
}

.display > p {
    color: white;
    font-size: 70px;
    margin: 10px 0px 10px 12px;
}

.buttonBox {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.calcBttns.number {
    background-color: rgba(197, 197, 197, 100);
}
.calcBttns.sign {
    background-color: rgba(247, 129, 11, 100);
}

.calcBttns.specialSign {
    background-color: rgba(247, 129, 11, 100);
}
#clearBttn {
    width: 532px;
}
.calcBttns {
    width: 130px;
    height: 100px;
    font-size: 63px;
    color: white;
    border: 1px solid white;
    transition: background-color 0.2s;
}

.calcBttns:active {
    background-color: rgba(199, 101, 3, 50);
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.6)
}

.calcBttns.number:active {
    background-color: rgba(177, 173, 173, 100);
}
